@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraMono";
  src: url("./shared/web/fonts/FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraMono";
  src: url("./shared/web/fonts/FiraMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* For Feedback.tsx */
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"]:focus + label {
  outline: rgba(77, 97, 171, 0.5) auto 3px;
}

.text-2xs {
  font-size: 0.6875rem;
}

body {
  font-family: "FiraMono", monospace;
}
