@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraMono";
  src: url("https://code.cdn.mozilla.net/fonts/ttf/FiraMono-Regular.ttf") format("truetype");
}

body {
  font-family: "FiraMono", monospace;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

/* .my-link is used in Link and LinkButton */
/* TODO remove */
.my-link {
  @apply cursor-pointer text-blue-500;
}

.my-link:hover {
  @apply underline;
}

.my-link:focus {
  @apply underline outline-none;
}
