node_modules

# For our service accounts
serviceAccountKey*

# See https://firebase.google.com/docs/functions/local-emulator
.runtimeconfig.json
.DS_Store
.firebase
scripts/.env
*.log

# Ignore since this is generated
public/index.html
