rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
  	match /{userId} {
    	match /songs/{songId}/{fileName} {
      	allow get: if request.auth.uid == userId;
        // 20MB limit
        allow create: if request.auth.uid == userId && request.resource.size <= 20 * 1024 * 1024;
      }
      
      match /song_artwork/{songId}/{artworkFileName} {
      	allow get: if request.auth.uid == userId;
      }

      match /feedback/{id}/{fileName} {
        allow create: if request.auth.uid == userId && request.resource.size <= 20 * 1024 * 1024;
      }
    }
  }
}
