# See https://github.com/ionic-team/capacitor/discussions/1478#discussioncomment-24256
capacitor.config.json

*.zip
*.ipa

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

build
google-api-key.json
google-services.json
GoogleService-Info.plist

# Ignore since this is generated
logo.png