# See https://github.com/ionic-team/capacitor/discussions/1478#discussioncomment-24256
capacitor.config.json

*.zip
*.ipa

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

build
src/tailwind.css

google-api-key.json
