/* This is for tbe BetaGuide component */
.beta-guide li {
  position: relative;
  padding-left: 1.6666667em;
}

.beta-guide li:before {
  content: "";
  position: absolute;
  background-color: #cbd5e0;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: 0.6875em;
  left: 0.25em;
}

/* This needs to be CSS sadly */
/* See https://blog.phonegap.com/displaying-a-phonegap-app-correctly-on-the-iphone-x-c4a85664c493 */
/* And https://developer.mozilla.org/en-US/docs/Web/CSS/env */
.safe-bottom {
  padding-bottom: calc(constant(safe-area-inset-bottom) + 1rem); /* iOS 11.0 */
  padding-bottom: calc(env(safe-area-inset-bottom) + 1rem); /* iOS 11.2 */
}

.safe-top {
  padding-top: calc(constant(safe-area-inset-top) + 1rem); /* iOS 11.0 */
  padding-top: calc(env(safe-area-inset-top) + 1rem); /* iOS 11.2 */
}

@font-face {
  font-family: "FiraMono";
  /* We need this since we mount src/shared to _dist_/shared */
  src: url("/_dist_/fonts/FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraMono";
  src: url("/_dist_/fonts/FiraMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* For Feedback.tsx */
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"]:focus + label {
  outline: rgba(77, 97, 171, 0.5) auto 3px;
}

.text-2xs {
  font-size: 0.6875rem;
}

body {
  font-family: "FiraMono";
}

.clamp\-2 {
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.clamp\-3 {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
